#navBtn, i{
  margin: 0 !important;
}

.item.hand{
  font-size: 2em !important;
}

.ui.grid{
    margin: 0px !important;
}

.message.icon i{
    padding-right: 10px !important;
}

.ui.accordion > i.icon{
    float: left;
}
