{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
<link href='{% static "css/login.css" %}' type='text/css' rel='stylesheet'/>
{% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid">
  <div class="fourteen wide mobile eight wide tablet six wide computer four wide large column">
    <h2 class="ui inverted image header">
      <img src="{% static 'img/logo.jpg' %}" class="ui rounded image">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input name="email" placeholder="E-mail address" type="email">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input name="password" placeholder="Password" type="password">
          </div>
        </div>
        <a href="{% url 'dashboard' %}"><div class="ui fluid large blue submit button">Login</div></a>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New to us? <a href="#">Sign Up</a>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
