{% extends 'dashboard/dashboard.html' %}

{% block dash_content %}


<div class="ui stackable grid">
    <div class="twelve wide column">
        <h1 class="ui header">{{ book.name }}</h1>
        <p>{{ book.description }}</p>
        <h2>View Photos</h2>
        {% for picture in book.picture_set.all %}
        <div class="ui link cards">
            <div class="card">
                <div class="image">
                    <img src="/{{picture.pic.url}}">
                </div>
                <div class="content">
                    <div class="header">
                        {{ picture.name }}
                    </div>
                    <div class="meta">
                        <a>{{ picture.date }}</a>
                    </div>
                    <div class="description">
                        {{ picture.caption }}
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <button class="ui green button viewPicture">View Photo</button>
                        <button class="ui red button">Delete Photo</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui modal">
            <div class="header">Header</div>
            <div class="image content">
                <img src="/{{picture.pic.url}}" class="image">
                <div class="description">
                    <p></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="four wide column">
        <div class="ui segment">
        <h2>Upload A Photo</h2>
        <form class="ui form" action="{% url 'upload' book.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
                <label>Name</label>
                <input type="text" name="name">
            </div>
            <div class="field">
                <label>Caption</label>
                <input type="text" name="caption">
            </div>
            <div class="field">
                <label>Choose file</label>
                <input type="file" name="image">
            </div>
            <button class="ui basic blue button" name='submit' type="submit">Submit</button>
        </form>
        <h2>Archive Scrapbook</h2>
        <a class="ui basic button red" href="">Archive</a>
        </div>
    </div>
</div>


{% endblock %}
